//VARIABLES
$gradientLtRed: hsl(13, 100%, 72%);
$gradientRed: hsl(353, 100%, 62%);
$mdRed: hsl(356, 100%, 66%); //CTA Text

//MOBILE VIEWS
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image:url("../../images/bg-pattern-intro-mobile.svg"), linear-gradient(to bottom right, $gradientLtRed, 50%, $gradientRed);
    background-repeat: no-repeat, no-repeat;
    background-position: 35% 35%, center;
    background-size: 300%, 100%;

    border-bottom-left-radius: 75px;
    color: white;
    position: relative;
    text-align: center;

    padding: 10rem 0;
    width: 100%;

    h1{
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
}

.btn-container{
    display: flex;
    justify-content: space-between;

    margin-top: 3rem;
    margin-inline: auto;
    max-width:250px;
    width: 100%;
}

.section-container{
    width: 85%;
  }


//DESKTOP VIEWS
@media screen and (min-width:768px) {
    #hero{
        background-image:url("../../images/bg-pattern-intro-desktop.svg"), linear-gradient(to right, $gradientLtRed, 30%, $gradientRed);
        background-position: 25% 55%, center;
        background-size: 175%, 100%;

        height: 550px;

        h1{
            font-size: 3rem;
        }
    }

  
}