$grayBlue: hsl(240, 2%, 79%); //Footer text
$blackBlue: hsl(240, 10%, 16%); //Footer bg

footer{
    background-color: $blackBlue;
    border-top-right-radius: 75px;
    color: $grayBlue;
    padding: 5rem;
}

.footer-inner{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-list{
    margin: 1.5rem 0;
}

.link:nth-child(1){
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1.5em;
    cursor:auto;
}

.link{
    margin-bottom: 1em;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .footer-inner{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding-right: 15%;
        width: 85%;
    }
}
