//VARIABLES
$mdRed: hsl(356, 100%, 66%); //CTA Text
$ltRed: hsl(355, 100%, 74%); //CTA Hover
$dkBlue:hsl(208, 49%, 24%); //Headings
$grayBlue: hsl(240, 2%, 79%); //Footer text
$dkGray: hsl(207, 13%, 34%); //Body text
$blackBlue: hsl(240, 10%, 16%); //Footer bg

$gradientDkBlue: hsl(237, 17%, 21%); //Body
$gradientBlue:hsl(237, 23%, 32%); //Body

//SETUP
*,*::after,*::before{
  box-sizing: border-box;
  margin:0;
}

body, html, .App{
  height: 100%;
  width:100%;
}

//TEXT STYLES
h1, p, button, span{
  color: #fff;
  font-family: "Overpass", sans-serif;
}

h1{
  font-size: 1.6rem;
  font-weight: 300;
}

p{
  font-size: 14px;
  font-weight: 300;
}

//BUTTON STYLES
button{ 
  border:none;
  border-radius: 25px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.main-btn{
  background-color: #fff;
  color: $mdRed;
}

.alt-btn{
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}