#main-nav{
    display:flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top:0;
    left: 0;

    padding:2rem;
    width: 100%;
}

.inner-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    span{
        margin-right: 1rem;
    }

    &--links{
        margin-left: 2rem;
    }
}

.logo{
    height: 25px;
    margin-right: 2rem;
}

.menu{
    height: 15px;
    cursor: pointer;
}

.desktop{
    display:none;
}



@media screen and (min-width:768px) {
    .mobile{
        display: none;
    }

    .desktop{
        display: flex;
    }
}